html {
  scroll-behavior: smooth;
}

body {
  background-color: blue;
}

.navbar {
  background-color: grey;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
}

.nav-link {
  color: white;
  margin-left: 15px;
}

.nav-link:hover {
  color: yellowgreen;
}


.section {
  padding: 100px 0;
  min-height: 100vh;
  scroll-margin-top: 80px; 
}